# Polynomial Linear Regression

- y = b0 + b1x1 + b2x1^2 + .... + bnx1^n
- Notice the powers of the x variables to be non-linear, we still call the regression as linear. The reason is the relation between all the coefficients is linear.
- This can be used for multiple features or independent variables in the form of polynomial linear regression.
- y = b0 + b1x1 + b2x1^2 + ... + bnxn^n
- Parabolic style curve
- Eg. Spread of pandemics will have such a curve

In [11]:
import pandas as pd

In [12]:
pd.read_csv('Position_Salaries.csv')

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [13]:
df = pd.read_csv('Position_Salaries.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [15]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

In [16]:
X

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]], dtype=int64)

In [17]:
y

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000], dtype=int64)

In [18]:
df.shape

(10, 3)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [21]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
poly_reg = PolynomialFeatures(degree = 2)
poly_reg