In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Position_Salaries.csv')

In [3]:
df.head(3)

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000

In [4]:
df.dtypes

Position    object
Level        int64
Salary       int64
dtype: object

In [6]:
df.Level.value_counts()

1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: Level, dtype: int64

In [7]:
df.shape

(10, 3)

In [ ]:
X